<div class="circle-list">
  <span class="outer-border" (click)="chooseColor('5cabff')"><div class="circle" style="background: radial-gradient(circle at 20px 20px, #5cabff, #000);"></div></span>
  <span class="outer-border" (click)="chooseColor('ffdc00 ')"><div class="circle" style="background: radial-gradient(circle at 20px 20px, #ffdc00, #000);"></div></span>
  <span class="outer-border" (click)="chooseColor('5dff57')"><div class="circle" style="background: radial-gradient(circle at 20px 20px, #5dff57, #000);"></div></span>
  <span class="outer-border" (click)="chooseColor('353535')"><div class="circle" style="background: radial-gradient(circle at 20px 20px, #353535, #000000);"></div></span>
</div>
